body {
  font-family: "Lucida Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 10px 0;
  color:white;
  background-color:#de383d;
  padding:5px;
}

table {
  border-collapse: collapse;
  width: auto;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  min-width:100px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #de383d;
  color: white;

}

pre {
  padding: 10px;
  border: 1px solid #de383d;
  width: fit-content;
}